<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <connectionStrings>
    <add name="PortalConnection" connectionString="Data Source=10.3.14.14;Initial Catalog=hrs;Persist Security Info=True;User ID=hrs;Password=myaxact" providerName="System.Data.SqlClient" />
    <add name="RecruitmentLiveConn" connectionString="Data Source=146.20.126.216;Initial Catalog=BRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FTPUserID" value="adm_soft" />
    <add key="FTPPassword" value="C0r0ll@" />
    <!--<add key="FTPUploadAddress" value="184.154.101.99/RecruitmentDocuments" />-->
	  <add key="FTPUploadAddress" value="146.20.126.216/bolrecruitmentdocuments" />
    <!--<add key="LocalWebServer" value="\\10.1.17.37" />-->
    <add key="LocalWebServer" value="\\10.1.17.32" />
    <add key="RecruitmentLiveConn" value="Data Source=146.20.126.216;Initial Catalog=BRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw" />
    <add key="CandidateDocumentsPath" value="/RecruitmentDocuments/CandidateDocuments/" />
    <add key="rUserID" value="recusr" />
    <add key="rPassword" value="Gt@df3#45Qw" />
    <!--<add key="PathforPDF" value="\\10.1.17.37\BOLCandidateDocuments\CandidateDocuments\Official\" />
    <add key="PathforRPT" value="\\10.1.17.37\BRecruitmentAdmin\Letters" />-->
    <add key="PathforPDF" value="\\10.1.17.32\BOLCandidateDocuments\CandidateDocuments\Official\" />
    <add key="PathforRPT" value="\\10.1.17.32\BRecruitmentAdmin\Letters" />
    <add key="PathforPortalPic" value="\\10.3.14.11\newmyaxact\images\members\user\" />
    <add key="PathforPortalPicStaff" value="\\10.3.14.11\newmyaxact\images\members\support\" />
    <add key="PathforDocuments" value="\\xent1\Employeedocuments$\" />
    <add key="DomainAddress" value="http://recruitment.bolnetwork.com/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DeptCode" value="118" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AdminReportsAPISoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AdminReportsAPISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://myaxactweb2:200/x-adminreports/adminreportsapi.asmx" binding="basicHttpBinding" bindingConfiguration="AdminReportsAPISoap" contract="PerformanceSystemAPI.AdminReportsAPISoap" name="AdminReportsAPISoap" />
      <endpoint address="http://myaxactweb2:200/x-adminreports/adminreportsapi.asmx" binding="customBinding" bindingConfiguration="AdminReportsAPISoap12" contract="PerformanceSystemAPI.AdminReportsAPISoap" name="AdminReportsAPISoap12" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>