<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="50000" requestValidationMode="2.0"/>
    <!--<pages validateRequest="false" />-->
    <pages>
      <controls>
        <add tagPrefix="pa" tagName="profileArea" src="~/controls/ProfileControl.ascx"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>-->
    <sessionState timeout="120"/>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="CandidateDocumentsPath" value="/RecruitmentDocuments/CandidateDocuments/"/>
    <add key="ClientPhone" value="11-11-AXACT (29228)"/>
    <add key="ClientName" value="Axact"/>
    <add key="EncodingPattren" value="ABCDEFGHJKLMNPQRSTUWXZ0123456789"/>
    <add key="DocPath" value="~/UploadedDocs/"/>
    <add key="FacebookLoginClientId" value="265315513501314"/>
    <!--<add key="FacebookLoginClientSecret" value="bf445459ac38eaa877b46965b9ffba84" />-->
    <add key="FacebookLoginClientSecret" value="4b6d9290ad4f09b87fe04c15ebab30de"/>
    <add key="FacebookLoginCallbackURL" value="http://careers.axact.com/OnlineSignupSequence/Facebook/getfbSignUpInfo.aspx"/>
    <add key="FacebookLoginCallbackURL" value="http://careers.axact.com/SignUp.aspx"/>
    <add key="FacebookLoginCallbackURLArea" value="http://careers.axact.com/Area/Area.aspx"/>
    <add key="FacebookLoginCallbackURLWallPost" value="http://careers.axact.com/facebook/WallPost.aspx"/>
    <add key="FacebookLoginCallbackURLJoiningWallPost" value="http://careers.axact.com/facebook/WallPostJoining.aspx"/>
    <add key="FacebookCallbackURL" value="http://careers.axact.com/Area/SocialMedia/getfbprofilepicture.aspx"/>
    <add key="DomainAddress" value="http://localhost:17465/"/>
    <!--<add key="DomainAddress" value="http://careers.axact.com/" />
        <add key="FacebookLoginCallbackURL" value="http://careers.axact.com/SignUp.aspx"/>
    <add key="FacebookLoginCallbackURLArea" value="http://careers.axact.com/Area/Area.aspx"/>
    <add key="FacebookLoginCallbackURLWallPost" value="http://careers.axact.com/facebook/WallPost.aspx"/>
    <add key="FacebookLoginCallbackURLJoiningWallPost" value="http://careers.axact.com/facebook/WallPostJoining.aspx"/>
      <add key="FacebookCallbackURL" value="http://careers.axact.com/Area/SocialMedia/getfbprofilepicture.aspx" />-->
    <add key="FacebookScope" value="email"/>
    <add key="ClientKey" value="fe99d1ffb0d8c561adadd24f"/>
    <add key="FacebookClientId" value="265376176828573"/>
    <add key="FacebookClientSecret" value="17d096c0b723cd0ff1374e44d5e0af29"/>
    <add key="XEM_Mail.Service1" value="http://66.132.205.36/Service1.asmx"/>
    <add key="isQsEncrypted" value="Y"/>
    <add key="ClientEmail" value="careers@axact.com"/>
    <add key="SenderName" value="Axact"/>
    <add key="SMSClientKey" value="xy249#@1"/>
    <add key="SMSClientKey2" value="xy249#@2"/>
    <add key="SMSService.SMSWebAPI" value="http://xwebsrv01:3029/SMSWebAPI.asmx"/>
    <add key="PageSize" value="10"/>
    <add key="SMSID" value="03343912610"/>
    <add key="MsgShortCode" value="Axact"/>
    <add key="MsgPassword" value="axact@4321"/>
    <add key="PendingActive" value="True"/>
    <add key="PhoneNumber" value="03312811030"/>
    <add key="SMSToRun" value="1"/>
    <add key="CandidateImagePath" value="~/CandidateUploadImage/"/>
    <add key="CandidateDocumentPath" value="/CandidateDocuments/"/>
    <add key="FBSignUpgMsg" value="Wish me luck guys! I have applied at Axact."/>
    <add key="FBJoiningMsg" value="Finally an Axactian! So Proud!"/>
    <add key="LiApiKey" value="sibbn3hk39iw"/>
    <add key="LiSecretKey" value="TA1BqGjroUFz54zk"/>
    <add key="FinishButton" value="Save &amp; Finish"/>
  </appSettings>
  <connectionStrings>
    <add name="errLogConnection" connectionString="Data Source=146.20.126.216;Initial Catalog=bRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="User ID=recusr;Password=Gt@df3#45Qw;DataBase=bRecruitmentLive2;Server=146.20.126.216"/>
    <add name="LiveConnectionString" connectionString="User ID=recusr; Password=Gt@df3#45Qw; DataBase=VACANCIES; Server=146.20.126.216"/>
    <!--  <add name="errLogConnection" connectionString="Data Source=184.154.101.79;Initial Catalog=XRecruitmentlive2;Persist Security Info=True;User ID=recusr;Password=F7v#xyJ1iD" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="User ID=recusr;Password=F7v#xyJ1iD;DataBase=XRecruitmentlive2;Server=184.154.101.79"/>
  
  
  <add name="errLogConnection" connectionString="Data Source=10.3.14.14;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=hrs;Password=myaxact;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=10.3.14.14;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=hrs;Password=myaxact;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="LiveConnectionString" connectionString="Data Source=10.3.14.14;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=hrs;Password=myaxact;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="signin.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>