@charset "utf-8";
/* CSS Document */


/* Header's css start*/
#header-bg {
	width:100%;
	float:left;
	height:110px;
	background:url(/assetsprocurement/images/header/main-bg2.jpg) repeat-x top left;
}

#header-bg1{
	margin:0px;
	padding:0px;
	height:76px;
	}
#header-bg1 #header-title{
	
	margin:0px;
	padding:0px;
	height:76px;
	float:right;
	margin:0px;
	padding:0px;
	
	}
#header-bg1 #header-title img{
	position: 
	}
#header-bg1 #header-title #help{
	height:34px;
	width:69px;
	float:right;
	clear:both;
	}
#header-bg1 #header-title #title{
	height:42px;
	float:right;
	margin:0px;
	padding:0px;
	clear:both;
	}
#header-bg1 #header-title #help a{
	
	text-decoration:none;
	}
#header-bg1 #da-logo{
	float:left;
	height:76px;
	width:380px;
	background:url(/assetsprocurement/images/header/da-logo.jpg) no-repeat top;
	
	}


#footer{
	height:56px;
	width:100%;
	margin:0px;
 background:url(/assetsprocurement/images/footer-bg.jpg) repeat-x top left #919191; overflow:hidden;
 float:left;
}

#footer #nav{
	float:left;
	width:170px;
	height:56px;
	margin:0px;
	text-align:center;
	padding-top:20px;
	color:#FFF;
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	
	}
	#footer #nav a{
		text-decoration:none;
		color:#FFF;}
#footer #copyright{
	color: #FFFFFF;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    height: 56px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    text-align: center;
    width: 500px;
}
#footer #powered{

	
	color:#FFF;
	  float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    height: 56px;
    margin: 0;
    padding-top: 2px;
    text-align: center;
    width: 241px;
	}
/* Header's CSS Ends*/

input.vlarge2 {
	width:400px;
}

select.small2 {
	width:100px;
}
select.vlarge2 {
	width:600px;
}


select.medium2 {
	width:250px;
}

select.small {
	width:150px;
}
#container .step-nav{
	width:994px;
	height:79px;
	margin: 10px auto;
	}
#container .step-nav table{ background-color:transparent;
	height:79px;
	}
	#container .step-nav table tr td{ background-color:transparent;
	border:none;
	padding: 0px 10px 5px 0px;
	text-align:center;

	
	}
	#container .step-nav table tr td{ text-decoration:none;
	color:#666666;
	font:"Myriad Pro";
	font-size:9pt;
	font-weight:bold;
	text-align:center;
	
	
	}
#container .step-nav table tr td strong{ text-decoration:none;
	color:#666666;
	font:verdana;
	font-size:12pt;
	text-align:center;
	
	}
	
		#container .step-nav table tr td.active{ text-decoration:none;
	color:#FFF;
	
	
	}
		#container .step-nav table tr td.active strong{ text-decoration:none;
	color:#FFF;
	
	
	}
	
	#container .step-nav2{
	width:994px;
	height:79px;
	margin: 10px auto;
	}
#container .step-nav2 table{ background-color:transparent;
	height:79px;
	}
	#container .step-nav2 table tr td{ background-color:transparent;
	border:none;
	padding: 0px 10px 5px 0px;
	text-align:center;

	
	}
	#container .step-nav2 table tr td{ text-decoration:none;
	color:#666666;
	font:"Myriad Pro";
	font-size:9pt;
	font-weight:bold;
	text-align:center;
	
	
	}
#container .step-nav2 table tr td strong{ text-decoration:none;
	color:#666666;
	font:verdana;
	font-size:12pt;
	text-align:center;
	
	}
	
		#container .step-nav2 table tr td.active{ text-decoration:none;
	color:#FFF;
	
	
	}
		#container .step-nav2 table tr td.active strong{ text-decoration:none;
	color:#FFF;
	
	
	}
	
#container .simple thead tr th.specialtd {
	border-left:0px;
	
	}
	#container .simple tbody tr.bold td {
	font-weight:bold;
	
	}
#container table thead tr th.noborder {
	border-left:0px;
	
	}
	
	#container table thead tr.orangebg th{
	background:url(/assetsprocurement/images/orange-bg.jpg) repeat-x;
	text-indent:10px;
}
#container table thead tr.orange td{
	background:#fff6dd;
	text-indent:10px;
}

#container table tbody.left tr td{
	
	text-align:left;
	text-indent:10px;}
	
#container table tbody tr.blue td{
	
	background-color:#eaf5ff;}

strong.large {
	
	font-size:12pt;
	}
.gul ul{ list-style:none;}
.gul ul li{
	background:url(/assetsprocurement/images/member-mgmt/greyul-arrow.png) no-repeat left 5px;
	padding-left:15px;
	text-indent:2px;
	
	
	}
.think{
	height:190px;
	width:960px;
	background:url(/assetsprocurement/images/member-mgmt/top-arrow-thinking.png) no-repeat left top;
	padding-left:10px;
	}
.h3l{
	font-size:12pt;
	}
.smalltxt{
	font-size:8pt;
	
	}
