
#navi {
	 height:30px;
	
}

#menu {
	
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}



.default {
	
           height:30px;
            width:100%;
                  
          background-color: #222222;         
}

.fixed {
	position: fixed;
	
	left: 0;
	width: 100%;
	  height:30px;
	
}