
pre
{
    display: block;
    font: 100% "Courier New" , Courier, monospace;
    padding: 10px;
    border: 1px solid #bae2f0;
    background: #e3f4f9;
    margin: .5em 0;
    overflow: auto;
    width: 800px;
}

img
{
    border: none;
}
ul, li
{
    margin: 0;
    padding: 0;
	
}
li
{
    list-style: none;
    float: left;
    display: inline;
  
}

.highslide-header{height:37px;
background:#97141c;
margin:0px 0px -5px 0px;
    padding: 0;}
.highslide-header ul
{
	width:100%;
	
    margin: 0;
    padding: 0;
	background:#97141c;
}

.highslide-header li
{
	
    list-style: none;
    float: right;
    display: inline;
    margin-right: 10px;
	
	
	
}
.highslide-header li a
{color:#fff;
padding:7px 4px 0px 14px;
}


/*  */

#preview
{
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
}
