@charset "utf-8";
/* CSS Document */

@import url("../fonts/stylesheet.css");
@import url("search.css");



*{
	margin:0px;
	padding:0px;
	}
ul{
	list-style:none;	
}

textarea {
	 font-size:11px;
	 font-family:Tahoma, Geneva, sans-serif;
}	

img {
	border:0px;
}

input[type=radio]{
	width:14px !important;
	height:19px;
	margin-left:10px;
	vertical-align: middle;
}
body{
	margin:0px;
	padding:0px;
	background:#f5f5f5;
	font-family:Tahoma, Geneva, sans-serif;
	}
	
.maincontainer{
	width:960px;
	margin:0 auto;
	padding:32px 0 0 0;
	}
	
.topbarbg{
	background-color:#222222;
	height:40px;
	}
	
.topbar{
	margin:0 auto;
	width:960px;
	height:32px;
}

.logo{
	width:366px;
	float:left;
	padding:8px 0 0 0;
	}
	
.toptext{
    font-family: 'HelveticaNeueCondensed';
	float:left;
	padding:3px 0 0 20px;;
	font-size:18px;
	color:#FFF;
	text-transform:uppercase;
	}
	
.toptext span{
	padding:0 16px 0 0px;
	margin:0 4px 0 0;
	/*background-image:url(/assets/images/white_arrow.png);*/
	background-repeat:no-repeat;
	background-position:right 3px;
	}
	
	

.sectab{
	width:98% !important;
	margin:0 auto;	
}	
.thirdtab{
	width:96% !important;	
	margin:0 auto;
}
.tabheading{
	padding:20px 0 !important;	
}
	
/*Top Navigation*/

.topnavigation{
	float:right;
	width:536px;
/*	overflow:hidden;
*/	}
	
	
.topnavigation ul{
	float:left;
/*	overflow:hidden;
*/	width:552px;
	}

.topnavigation li{
	float:left;
	list-style:none;
	background-image:url(/assets/images/line_breack.gif);
	background-position:left;
	background-repeat:repeat-y;
	position:relative;
	}
	
.topnavigation li a{
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	display:block;
	font-size:11px;
	padding:13px 14px 14px 14px ;
}
.topnavigation li:hover a {
	background:url(/assets/images/bg-menu-hover.jpg) no-repeat bottom center;
}
.topnavigation li ul{
	position:absolute;
	left:-9999px;
	border:1px solid #eaeaea;
	border-bottom:0px;
	border-top:0px;
	box-shadow:0px 1px 2px #c7c7c7;
}
.topnavigation li:hover ul{
	position:absolute;
	left:-70px;
	width:250px;
	top:40px;
}

.topnavigation li:hover ul li{
	width:100%;
	float:left;
	background:#fff;
	border-bottom:1px solid #eaeaea;
}
.topnavigation li:hover ul li a{
		color:#000;
		background:none;
}

.topnavigation li ul li:hover a{
		color:#000;
		background:#f5f5f5;
}
	
.topnavigation .searchtopcon{
	float:right;
	width:47px;
	position:relative;
	}

	
.topnavigation .searchshow{
	clear:both;
	position:absolute;
	width:610px;
	height:300px; 
 	top:16px;
	left:-563px;
	z-index:100;
	background-image:url(/assets/images/search_bg.png);
	background-repeat:no-repeat;
	padding:30px 30px 30px 30px;
	}
/* menu accordian starts here */
.topnavigation li ul li ul {
	float:left;
	position:relative !important;
	width:250px;
	left:0px !important;
	top:0px !important;
}
.topnavigation li ul li ul li{ 
	border-bottom:1px solid #333333 !important;
}
.topnavigation li ul li ul li a{ 
	background:#222222 !important;
	color:#fff !important;
}
.topnavigation .addme>a{
	background:url(/assets/images/menuacc/open.png) no-repeat  230px 15px !important;
}

.topnavigation .active>a {
	background:url(/assets/images/menuacc/close.png) no-repeat 230px 15px !important;
}	

/*Top Navigation End*/


.sort{
	float:right;
	width:342px;
	color:#666666;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
 	}
	
.sorttxt{
	float:left;
	padding:10px 1px 1px 1px ;}

.headbar{

 	}
	
.headbar h2{
	margin:0px;
	padding:0px;
    font-family: 'HelveticaNeueCondensed';
	font-size:20px;
	color:#333333;
	text-transform:uppercase;
}
.headbar p {
	color:#333333;
	font-size:11px;
}
/*Content Area Start*/
.contentarea{
	padding:10px 0 0 0px;
	min-height:300px;
	font-size:11px;
}
/*Tabs Area */
 

.tabs-nav2{
	margin:0 0 0 25px;
	}

.tabs-nav li{
	list-style:none;
	float:left;
	padding:0 10px 0 0;
 	}
	
	
.tabs-nav li a{
	display:block;
	padding:6px 13px 6px 13px;
	background-color:#cccccc;
	border:solid 1px #666666;
	border-bottom:0px;
	font-size:11px;
	color: #666666;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
 	}
	
.tabs-nav li a.current{
	display:block;
	padding:6px 13px 6px 13px;
	background-color:#eeeeee;
	border:solid 1px #666666;
	border-bottom:0px;
	font-size:11px;
	color: #000;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
 	}	
	
.list-wrap{
	clear:both;
	}	
/*Content Area End*/

	
	
/*Generarics Clasess*/

/*Text Colors*/
.yellowtxt{
		color:#fab316;
		}
		
.greytxt{
	color:#666666;
	}
		
.clear{
	clear:both;
	height:1px;
	}
	
.greyborder{
	border:solid 1px #666666;
	}
	
	
/*Tables*/

.listtable{
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	}
	
.action{
	background-color:#fab316;
	color:#000;
	}
	
.bor-left{
	border-left:1px solid #666666;
	}
	
.bor-right{
	border-right:1px solid #666666;
	}
	
.bor-top{
	border-top:1px solid #666666;
	}
	
.bor-bot{
	border-bottom:1px solid #666666;
	}		
.pad{
	padding:8px 5px 5px 5px ;}
	
.noborderbottom td{
	border-bottom:0px;}

.tabs-nav li.category 	{
	  padding: 0 0px 0 0;
	}
	
.tabs-nav li.category a 	{
	border-right:0px;
	}
/*Pagination Start*/	
.pagination{
	background-color:#FFF;
	border:#CCC 1px solid;
	margin:20px 0 0px 0;
	overflow:hidden;
	clear:both;
	}
	
.pagination-btn {
	width:90px;
	float:left;
	padding:8px 0 8px 0;
	text-align:center;
	}  
	
.numbers-pages{
	width:252px;
	float:left;
	padding:7px 175px 0 171px;
	text-align:center;
	}
	
.numbers-pages ul{
	margin:0px;
	padding:0px;}
	
.numbers-pages li{
	float: left;
	list-style:none;
	}

.numbers-pages li a{
	color:#333333;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	padding:3px 11px 7px 11px;
	display:block;
	}
	
.numbers-pages li a:hover{
	color:#cccccc;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	padding:3px 11px 7px 11px;
	border-bottom:5px solid #cccccc;
	}
	
.numbers-pages li a.selected{
	color:#cccccc;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	padding:3px 11px 7px 11px;
	border-bottom:5px solid #cccccc;
	}
	
/*Pagination End*/	



/*Footer Grey Bar*/
.greyfooterbarbg{
	background-color:#dddddd;
	border:solid 1px #cccccc;
	padding:10px 0 10px 0px;
	margin:90px 0 0  0;
	overflow:hidden;
	border-left:0px;
	border-right:0px;
	
 	}
	
.greyfooterbar{
	width:960px;
	margin:0  auto; 
	}
	
.greyfooterbar .screen{
	background-image: url(/assets/images/footer_icon.gif);
	background-repeat:no-repeat;
	padding:0 0 0 20px;
	color:#333333;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	float:left;
	width:700px;
	}

.greyfooterbar .help{
	float:right;
	width:70px;
	color:#333333;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	}
	
.greyfooterbar .help a{
	display:block;
	background-image:url(/assets/images/help_icon.gif);
	padding:0 0 0 20px;
	background-repeat:no-repeat;
	background-position:left;
	color:#333333;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	float:left;
	margin:0 0px 0 20px;
	}
	
.footerbottombg{
	background-color:#eeeeee;
	height:45px;
	}
	
.footerbottom{
	width:960px;
	margin:0 auto;
	color:#666666;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:13px 0 0 0; 
	}
	
.footerbottom a{
	color:#666666;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
	
.footerbottom a:hover{
	color:#666666;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:underline;
	}
.footerbottom a.axact {
	color:#333333;
}
	
		
.footerbottom .left{
	width:600px;
	float:left;
	}

.footerbottom .right{
	text-align:right;
	width:200px;
	float: right;
	}
	
	
	
/*Tools Tips Start*/
#amount {
 	color: #FFFFFF;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height:16px;
 	width: 119px;
	left: -149px;
	top: 20px;
 	position: absolute;
 	z-index: 20;
	background-image:url(/assets/images/tip-top.png);
	background-repeat:no-repeat;
	background-position:top left;
	padding:21px 15px 15px 15px ;}
	
#amount strong{
	color: #fab316;
	font-weight:normal;
	}
 
/*Tools Tips End*/


#accordian {
	float:left;
	width:100%;
}
#accordian .single {
	margin-top:2px;
	float:left;
	width:100%;
}#accordian .achead {
	cursor:pointer;
}
#accordian .achead td{
	padding:15px 0px;
}
.accordian .achead table tr td{
	padding:15px 0px;
}
#accordian .sectab{
	width:98%;
	margin:0 auto;	
}

.accordion li {
	margin-top:2px ;
}
#accordian .sectab td{
	padding:0;	
}
#accordian .achead td.number{
	background:#ffffff;
	font-size:24px;
	color:#333333;
	text-indent:20px;
}

.accordian {
	float:left;
	width:100%;
}
.accordian .single {
	margin-top:2px;
	float:left;
	width:100%;
}.accordian .achead {
	cursor:pointer;
}
.accordian .achead td{
	padding:15px 0px;
}
.accordian .achead table tr td{
	padding:15px 0px;
}
.accordian .sectab{
	width:98%;
	margin:0 auto;	
}

.accordian .sectab td{
	padding:0;	
}
.accordian .achead td.number{
	background:#ffffff;
	font-size:24px;
	color:#333333;
	text-indent:20px;
}


.accordian .achead td.number{
	background:#ffffff;
	font-size:24px;
	color:#333333;
	text-indent:20px;
}
.number{
	background:#ffffff;
	font-size:24px;
	color:#333333;
	text-indent:20px;
}
.accordion li a{
	cursor:pointer;	
}
.achead td.star{
	background:url(/assets/images/stard.png) no-repeat 22px 20px #ebebeb !important;
}
.achead td.star.active{
	background:url(/assets/images/star.png) no-repeat 22px 20px #ebebeb !important;
}

.accordian .achead td.star{
	background:url(/assets/images/stard.png) no-repeat 22px 20px #ebebeb;
}
.accordian .achead td.star.active{
	background:url(/assets/images/star.png) no-repeat 22px 20px #ebebeb;
}

.contentarea table {
	width:100%;
	border:1px solid #cccccc;
	border-bottom:0px;
	border-left:0px;
	font-size:11px;
	color:#333333;
}
.achead td {
	background:#ebebeb;
}
.contentarea table td, .contentarea table th{
 	border:1px solid #cccccc;
	border-right:0px;
	border-top:0px;
	padding:5px 0px;
	text-indent:5px;
	background:#ebebeb;
	font-weight:normal;
}
.contentarea .whitebg td, .contentarea .whitebg th{
	background:#fff;	
}
.contentarea .whitebg tr.grey td, .contentarea .whitebg tr.grey th{
	background:#EBEBEB;	
}
.contentarea tr.oran td{
	background:#ffe6b0;	
}
.contentarea .whitebg.padded th, .contentarea .whitebg.padded td  {
	padding:10px 5px;
}
.contentarea table th{
	color:#666666;
}
.contentarea a{
	
	text-decoration:none;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;	
}
#accordian .accontent{
	width:900px;
	margin-left:30px;
	display:none;
}

.accordian .accontent{
	width:900px;
	margin-left:30px;
	display:none;
}

.sepra {
	background:url(/assets/images/bgs/spera.png) repeat-x top left;
	height:2px;
	width:100%;
	margin-top:25px;
}
.btn-ora {
	background:url(/assets/images/bgs/btn.png) repeat-x top  left;
	padding:8px;
	color:#333333 !important;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	margin-top:10px;
	float:left;
	margin-right:5px;
	border:0px;
}
.btn-ora2 {
	background:#fcb316;
	padding:8px;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	border:1px solid #333;
	text-indent:0px;
	float:left;
	margin-right:5px;
}

/* table based classes starts */
.contentarea .common{ 
	width:100%;
	border:0px;
    font-family:Tahoma, Geneva, sans-serif;
}
.contentarea .common td{  
	padding:2px;
	border:1px solid #cccccc;
	background:#ffffff;
	
}
.contentarea .common td label{  
	padding-top:3px;
	float:left;
}
.contentarea .common td.grey,.contentarea .common tr.grey td{  
	background:#eaeaea;
}
.contentarea .common td input, .contentarea .common td select , .contentarea .common td textarea{  
	width:95%;
	padding:3px;
	border:0px;
	font-size:11px;
	background:none;
}
.contentarea .common td textarea {
	 height:70px;
}
.contentarea .none, .contentarea .none td{
	background:none;
	border:0px;
	padding:0px;
	margin:0px;
	text-indent:0px;
}
.contentarea .common.padded tr.grey td {
	padding:7px 0px;
}
/* form elements */
.typea {
	border:1px solid #cccccc;
	padding:8px 2px;
	font-size:11px;
	width:100%;
}
.none a{
	color:#333333;
	text-decoration:none;
}
.bredcrumb{
	list-style:none;	
	width:960px;
	clear:both;
	padding:20px 0;
	margin:0 auto;
}
.bredcrumb li{
	float:left;	
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;
	background:url(/assets/images/bullet-breadcrumb.png) no-repeat left 8px;
}
.bredcrumb li:first-child{
	background:none !important;
}
.bredcrumb li:first-child a{
	padding-left:0 !important;
}
.bredcrumb li a{
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;
	text-decoration:none;
	display:block;
	padding:5px 15px;
}
.fancybox-outer {
	width:100%;
}
#accordian .single.martopzero{
	margin-top:0;	
}

.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
.nobg{
	background:none !important;
}
.nobg tr td{
	background:none !important;	
}
.nobgandborder{
	background:none !important;
	border:0 !important;
}
.textareafull{
	width:100%;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;
	padding:5px;
	border:1px solid #cccccc;
	resize:none;
}
.addpadd tr td{
	padding:7px 4px !important;	
}
.searchbar{
	float:left;
	padding:4px;
	margin-top:6px;	
}
.searchtxt{
	width:200px;
	border:1px solid #cccccc;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;	
	padding:7px 10px;
}
.searchbtn{
	background:url(/assets/images/searchbtn.jpg) no-repeat 0 0;
	width:36px;
	height:29px;
	border:0;	
	cursor:pointer;
}
.bgwithborder{
	background:#FFF;
	padding:0 10px 20px 10px;
	border-left:1px solid #cccccc;	
	border-right:1px solid #cccccc;	
}
.lightgray tr td{
	background:#f5f5f5 !important;	
}
.ddlstyle{
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;
	padding:5px;	
	width:98%;
}
.accordion{
	clear:both;	
}

#right {
	width:68%;
	float:right;	
}

#left {
	width:30%;
	float:left;
}






































#container {
	width:100%;
	float:left;
	font-size:12px;
	min-height:600px;
	z-index:0 !important;
}

.btnadd {
	background: url(/assets/images/icons/simple-btn-bg.png) repeat-x top left #000;
	margin:5px 10px;
	padding:4px 10px 3px 10px ;
	color:#fff;
	font-size:12px;
	text-decoration:none;	
	border: 0px ;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 2;
	behavior: url(/assets/css/ie-css3.htc);
	float:right;
}
.btnnormal {	
	background: url(/assets/images/icons/simple-btn-bg.png) repeat-x top left #000;
	margin:0px 10px;
	padding:3px 10px 6px 10px ;
	color:#fff;
	font-size:12px;
	text-decoration:none;	
	border: 0px ;
	/* position: relative; */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 3;
	behavior: url(/assets/css/ie-css3.htc);
	cursor:pointer;
	/*saad changed here*/
}
.btnnormal.crop {
	top:0px;
}

/*main structure ends here */


/* real table data starts */

#container  table{
	width:100%;
	border-top:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
#container table th {
	padding:7px;
}
#container table td,#container table th{
	border-left:1px solid #d5d5d5 ;
	border-bottom:1px solid #d5d5d5 ;
}

#container table thead{
	background:	url(/assets/images/th-bg.jpg) repeat-x bottom left;
	font-size:12px;
	color:#666666;
}
#container table tbody tr.grey td{
	background:#f7f7f7;
	text-indent:0px;
}
#container table tbody tr.blue td{
	background:#eaf5ff;
	text-indent:10px;
}
#container table tbody tr td.sred{
	background:#fc5656;
	text-indent:0px;
}

#container table tbody tr td.sgreen{
	background:#56a257;
	text-indent:10px;
}
#container table tbody tr th.grey{
	background:#f7f7f7;
	
}
#container table tbody tr td{
	background:#fff;
	padding:5px;
	text-indent:0px;
	font-size:11px;
	color:#666;
	text-indent:0px;
}
#container table tbody tr td span.red {color:#F00;}
#container table tbody tr.simple td{
	background:#fff;
	padding:5px;
	font-size:11px;
	color:#666;
	text-indent:0;
}

#container table tbody tr.special td{
	padding:0px;
	font-size:11px;
	text-indent:0px;
}


/* real table data type two starts */

#container  table.specialtab{
	width:100%;
	border:1px solid #d5d5d5;
	border-bottom:0px;
	
}
#container  table.specialtab span{
	font-weight:normal;
	
}
#container table th {
	padding:7px;
}
#container table.specialtab td,#container table.specialtab th{
	border-bottom:1px solid #d5d5d5;
	border-left:0px;
}

#container table.specialtab thead{
	background:	url(/assets/images/th-bg.jpg) repeat-x bottom left;
	font-size:12px;
	color:#666666;
}
#container table.specialtab tbody tr.grey td{
	background:#f7f7f7;

}
#container table.specialtab tbody tr.grey td span{ text-align:center;}


#container table.specialtab tbody tr td{
	background:#fff;
	padding:5px;
	text-indent:0px;
	font-size:11px;
	color:#666;
	
}
#container table.specialtabpad tbody tr td{
		padding:5px !important;
}
#container table.specialtab tbody tr.simple td{
	background:#fff;
	padding:20px 0px;
	font-size:11px;
	color:#666;

}
#container table.specialtab tbody tr.simpletd td{
	background:#fff;
	padding:5px;
	font-size:11px;
	color:#666;

}

#container table.specialtab tbody tr.special td{
	padding:0px;
	font-size:11px;

}



/* table yellow starts here */


#container  table.yellow{
	width:100%;
	border:1px solid #d5d5d5;
	border-bottom:0px;
	
}
#container table th {
	padding:7px;
}
#container table.yellow td,#container table.yellow th{
	border-bottom:1px solid #d5d5d5;
	border-left:0px;
}

#container table.yellow thead{
	background:	url(/assets/images/th-bg.jpg) repeat-x bottom left;
	font-size:12px;
	color:#666666;
}
#container table.yellow tbody tr.grey td{
	background:#f7f7f7;

}
#container table.yellow tbody tr td{
	background:#fdfad2;
	padding:5px;

	font-size:11px;
	color:#666;

}
#container table.yellow tbody tr.simple td{
	background:#fffcea;
	padding:20px 0px;
	font-size:11px;
	color:#666;

}
#container table.yellow tbody tr.simpletd td{
	background:#fff;
	padding:5px;
	font-size:11px;
	color:#666;

}

#container table.yellow tbody tr.special td{
	padding:0px;
	font-size:11px;

}





/* table style two ends here*/

/* right and left starts here */
#right {
	width:68%;
	float:right;	
}

#left {
	width:30%;
	float:left;
}

#empsearch {
	width:100%;
	float:left;
	height:300px;
	overflow:scroll;
	overflow-x:hidden;
}
.searchedlist {
	padding:20px;
	margin:0px;
}
.searchedlist li{
	padding:10px 0px;
	list-style:none;
}
/* right and left ends here */

select {
	width:95%;
}
textarea {
	width:98%;
	
}
textarea.medium {
	width:50%;
}
select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
input {
	
}
select.vlarge {
	width:500px;
}
select.vvlarge {
	width:700px;
}

select.large {
	width:300px;
}
select.medium {
	width:95%;
}
select.small {
	width:50%;

}
select.vsmall {
	width:60px;
}
.center  {
	text-align:center;
}
input.small {
	width:20px;
}
input.medium {
	width:20%;
}
input.normal {
	width:50%;
}
input.large {
	width:350px;
}
input.vlarge {
	width:500px;
}

ul.typea {
	margin:0px;
	padding:0px;
}
ul.typea li{
	list-style:none;
	margin:15px 0px;
	padding-left:20px;
	background:url(/assets/images/icons/li-bg.jpg) no-repeat top left;
}
.addsimple {
	background:url(/assets/images/icons/add.png) no-repeat top left;
	padding:2px 0px;
	padding-left:25px;
	margin:0px 3px;	
}
.removesimple {
	background:url(/assets/images/icons/remove.jpg) no-repeat top left;
	padding:2px 0px;
	padding-left:18px;
	margin:0px 3px;
}
table.none {
	margin:0px !important;
	padding:0px !important;
	border:0px !important;
	background:none !important;
}


table.none td {
	margin:0px !important;
	border:0px !important;
	padding:0px !important;
	background:none !important;
}


/* real table data type two starts  orange*/

#container  table.orange{
	width:100%;
	border:1px solid #d5d5d5;
	border-bottom:0px;
	
}
#container table th {
	padding:7px;
}
#container table.orange td,#container table.orange th{
	border-bottom:1px solid #d5d5d5;
	border-left:0px;
}

#container table.orange thead{
	background:	url(/assets/images/orange-bg.jpg) repeat-x bottom left;
	font-size:12px;
	color:#666666;
}
#container table.orange tbody tr.orng td{
	background:#f2e9d2;

}
#container table.orange tbody tr td{
	background:#fff;
	padding:5px;
	font-size:11px;
	color:#666;

}
#container table.orange tbody tr.simple td{
	background:#fff6dd;
	padding:20px 0px;
	font-size:11px;
	color:#666;
	text-indent:0px;
}
#container table.orange tbody tr.simpletd td{
	background:#fff6dd;
	padding:5px;
	font-size:11px;
	color:#666;
	text-indent:0px;
}

#container table.orange tbody tr.special td{
	padding:0px;
	font-size:11px;
	text-indent:0px;
}
.bold{font-weight:bold;}
.leftborder td{border-left:solid 1px #CCC!important; border-bottom: solid 1px #CCC!important;}

.btnlarge {
	
	background: url(/assets/images/icons/simple-btn-bg.png) repeat-x top left #000;
	margin:0px 10px;
	padding:3px 5px 6px 5px ;
	color:#fff;
	font-size:12px;
	text-decoration:none;	
	border: 0px ;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 2;
	behavior: url(/assets/css/ie-css3.htc);
	/*top:10px;*/
}

.btnmedium {
	
	background: url(/assets/images/icons/simple-btn-bg.png) repeat-x top left #000;
	margin:0px 10px;
	padding:3px 10px 6px 10px ;
	color:#fff;
	font-size:12px;
	text-decoration:none;	
	border: 0px ;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 2;
	behavior: url(/assets/css/ie-css3.htc);
	/*top:10px;*/
}
.paddme td {
	padding:20px 5px !important;
}
.next-prev{ padding:0;}

table.attspecial {
	border:0px !important;
}
table.attspecial img{vertical-align:middle}
table.attspecial td {
	border:1px solid #d5d5d5 !important;
	padding:3px !important;
}
table.attspecial td.grey  {
	background:#f7f7f7!important;
}
table.attspecial tr td:hover  {
	background:#f7f7f7!important;
	cursor:pointer;
}
.left-border-none
{
	border-left:none!important;
}

.right-border-none
{
	border-right:none!important;
}

.top-border-none
{
	border-top:none!important;
}

.bottom-border-none
{
	border-bottom:none!important;
}



.no-border
{
	border-left:none!important;
	border-right:none!important;
}

.border-none
{
		border:0px!important
}

.txtsmall
{
	width:100px;
}

input.numeric{
	text-align:right;
}







/* special table without header */
#container  table.newheader{
	width:100%;
	border-top:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
}

#container table.newheader td{
	border-left:1px solid #d5d5d5 ;
	border-right:1px solid #d5d5d5 ;
	border-top:1px solid #d5d5d5 ;
	border-bottom:1px solid #d5d5d5 ;
}

#container table.newheader tbody th{
	background:	url(/assets/images/th-bg.jpg) repeat-x bottom left;
	font-size:12px;
	border-right:1px solid #d5d5d5 ;
	border-top:1px solid #d5d5d5 ;
	color:#666666;
	text-align:left;
}
#container table.newheader tbody  td.newheader,#container table.newheader tbody  tr.newheader td{
	background:	url(/assets/images/th-bg.jpg) repeat-x bottom left;
	font-size:12px;
	border-right:1px solid #d5d5d5 ;
	border-top:1px solid #d5d5d5 ;
	color:#666666;
	text-align:left;
	font-weight:bold;
}
#container table.newheader tbody tr.grey td{
	background:#f7f7f7;
	border-right:1px solid #d5d5d5 ;
	border-top:1px solid #d5d5d5 ;
	text-indent:0px;
}
#container table.newheader tbody tr.blue td{
	background:#eaf5ff;
	text-indent:10px;
}
#container table.newheader tbody tr th.grey{
	background:#f7f7f7;
	
}
#container table.newheader tbody tr td{
	background:#fff;
	padding:5px;
	text-indent:0px;
	font-size:11px;
	color:#666;
	text-indent:0px;
}
#container table tbody.newheader tr.simple td{
	background:#fff;
	padding:5px;
	font-size:11px;
	color:#666;
	text-indent:0;
}

#container table.newheader tbody tr.special td{
	padding:0px;
	font-size:11px;
	text-indent:0px;
}

/* customiizing fancy box */

.nl {
	border:0px;
	float:none;
}
.notice {
	border:1px solid #f9b317;
	background:#fff;
	padding:2px;
	box-shadow:3px 3px 3px #cacaca;
}