<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="RecruitmentConnection" providerName="System.Data.SqlClient" connectionString="User ID=recusr;Password=Gt@df3#45Qw;DataBase=BRecruitmentLive2;Server=146.20.126.216" />
	  
	  <add name="errLogConnection" providerName="System.Data.SqlClient" connectionString="User ID=xrec;Password=Ax@ct5677;DataBase=BRecruitment;Server=xdbsrv07"/>
  </connectionStrings>
  <appSettings>
    <add key="CheckAuthentication" value="0"/>
    <add key="SiteRoot" value="/RecruitmentAssessment"/>
  </appSettings>
</configuration>