<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DocumentFolderPath" value="/StudentDocuments/"/>
    <add key="PortfolioFolderPath" value="/StudentDocumentsPortFolioFolder/ "/>
    <add key="DomainAddress" value="http://66.33.56.16/"/>
    <add key="RedirectPage" value="http://myaxactweb:200/recruitment/redirector.aspx"/>
    <add key="NotAuthorize" value="http://localhost:54985/NotAuthorize.aspx"/>
    <add key="CandidateDocumentsPath" value="/RecruitmentDocuments/CandidateDocuments/"/>
    <add key="TestDocumentsPath" value="/RecruitmentDocuments/TestDocuments/"/>
    <add key="SMSID" value="03343912610"/>
    <add key="MsgShortCode" value="Axact"/>
    <add key="MsgPassword" value="axact@4321"/>
    <add key="PendingActive" value="True"/>
    <add key="PhoneNumber" value="03312811030"/>
    <add key="SMSToRun" value="1"/>
    <add key="Domain_Address" value="http://localhost:54985/"/>
    <!-- <add key="Domain_Address" value="http://recruitment.axact.com/"/>-->
    <add key="WebDomainAddress" value="http://localhost:54985/"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="30000"/>
    <add key="LivePath" value="http://localhost:17538/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="314572800" executionTimeout="1800" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Windows"/>
  </system.web>
  <connectionStrings>

    <add name="ConnectionString" connectionString="Data Source=146.20.126.216;Initial Catalog=bRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="RecruitmentAdminConn" connectionString="Data Source=146.20.126.216;Initial Catalog=bRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="RecruitmentConnection" connectionString="Data Source=146.20.126.216;Initial Catalog=bRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="errLogConnection" connectionString="Data Source=146.20.126.216;Initial Catalog=bRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>

    <!--<add name="ConnectionString" connectionString="Data Source=146.20.126.216;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="RecruitmentAdminConn" connectionString="Data Source=146.20.126.216;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="RecruitmentConnection" connectionString="Data Source=146.20.126.216;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
    <add name="errLogConnection" connectionString="Data Source=146.20.126.216;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=Gt@df3#45Qw;Max Pool Size=200;" providerName="System.Data.SqlClient"/>-->
    <!--    
    <add name="ConnectionString" connectionString="Data Source=146.20.126.216;Initial Catalog=XRecruitmentLive2;Persist Security Info=True;User ID=recusr;Password=F7v#xyJ1iD" providerName="System.Data.SqlClient" />
    <add name="RecruitmentAdminConn" connectionString="User ID=recusr;Password=F7v#xyJ1iD;DataBase=XRecruitmentLive2;Server=146.20.126.216" />
    <add name="RecruitmentConnection" connectionString="User ID=usrvac; Password=ajobs; DataBase=VACANCIES; Server=146.20.126.216"/>
    <add name="errLogConnection" connectionString="User ID=usrvac; Password=ajobs; DataBase=VACANCIES; Server=146.20.126.216"/>
-->
    <add name="RecruitmentLiveConn" connectionString="Data Source=96.127.132.221;Initial Catalog=Vacancies;Persist Security Info=True;User ID=usrvac;Password=ajobs" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="314572800"/>
        <fileExtensions/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISlotManagementAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://xent1:300/SlotManagementAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISlotManagementAPI" contract="ServiceReference1.ISlotManagementAPI" name="BasicHttpBinding_ISlotManagementAPI"/>
    </client>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>